
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80); mx-3">
  <div class="card-trip-infos">
    <div>
      <%= @shop.name %>
      <%= @shop.address %>
      <%= @shop.phone_number %>
      <%= @shop.email %>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-8">
        <h3>Your Dashboard</h3>
        <p>Address: Internet city, Dubai </p>
        <p>Delivery Date: Oct 4 2021 </p>
      </div>
      <div class="col-md-4">
        <img src="https://f.roocdn.com/images/menus/70997/header-image.jpg?width=740&height=320&auto=webp&format=jpg&fit=crop&v=1531393618" alt="" class="w-100">
      </div>
    </div>
  </div>
</div>
