<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->

    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->

      <div class="col-md-2 mb-3">

        <h6 class="text-uppercase font-weight-bold text-green">
          <%= link_to "About us", about_path %>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">

        <h6 class="text-uppercase font-weight-bold text-green">
          <a href="#!">Our Healthy Products</a>
        </h6>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 mb-3">

        <h6 class="text-uppercase font-weight-bold text-green">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">

        <h6 class="text-uppercase font-weight-bold text-green">
          <a href="#!">Contact</a>
        </h6>

      <!-- Grid column -->
    </div>
  </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">We know it can be a struggle to get quality ingredients that suit your dietary needs in Dubai! This is why our team here at Veggielite is committed to keeping you fresh and fruity to conquer the day!</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">
          <div class="center-text">
            <!-- Facebook -->
            <a href="https://www.facebook.com/Veggielite-Store-102674858920029" class="icons">
              <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
            </a>

             <a href="https://fontawesome.com/v5.15/icons/shuttle-van?style=solid" class="icons">
              <i class="fab fa-lewagon fa-lg white-text mr-4"> </i>
            </a>

            <!--Instagram-->
            <a href="https://fontawesome.com/v5.15/icons/shuttle-van?style=solid" class="icons">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-green">© 2021 Copyright: Stay fresh and fruity!
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
