
<div class="d-flex justify-content-center">
  <div class="row">
                <div class="col-12 col-md-12 col-lg-4 col-xl-5 leftcolumn"><span><a class="brand" href="https://www.justinmind.com/">

                </a></span><span class="copy"><span class="copyright">©</span>&nbsp;2021&nbsp;Veggielite</span></div>
                <div class=" thirdrow">
                    <div class="col-12">
                        <span class="copy">Sign up for Special<span class="copyright"></span>&nbsp;2021&nbsp;offers</span>
                    </div>
                </div>

    <div class="col-12 col-md-12 col-lg-1 col-xl-1 centralcolumn"> <div class="facebook_footer"><a target="_blank" href="https://www.facebook.com/justinmindprototypingtool/"></a></div>
                        <div class="twitter_footer"><a target="_blank" href="https://twitter.com/just_in_mind"></a></div>
                        <div class="instagram_footer"><a target="_blank" href="https://instagram.com/veggielite"></a></div>
                </div>
  </div>
