  <div class="about-section banner-divider">
    <h1>About Us Page</h1>
    <p style="font-size: 23px;">The Fruit Fairies!</p>
    <p style="font-size: 18px;">We are three women who love to stay active and eat healthy while doing it!</p>
  </div>
<div class="container">

  <div class="mb-5">
  <h2 style="text-align:left">Our Vision</h2>
  <div class="text-align:center">
    <p style="font-size:23px">We want to be the leading supermarket in the Middle East in a few years!</p>
  </div>
  </div>

  <div class="mb-5">
    <h2 style="text-align:left">Our Mission</h2>
    <div class="text-align:left">
      <p style="font-size:23px">Our mission is to deliver super fresh produce to your doorstep! We want more and more families to eat healthier and live more active lifestyles! We blend our strengths together, combining our business experience and creative minds to bring the best ideas to the table and drive results for our loyal customers</p>
    </div>
  </div>

  <div class="mb-5">
  <h2 style="text-align:left">Our Team</h2>
  <div class="container">
  <p style="font-size:23px;margin-left:-13px;margin-top: 5px;margin-bottom: 19px;">Meet the team!</p>
  </div>

<div class="mb-5">
    <div class="cards" style="--gap: 2rem;">
        <div class="testimonial">
          <div class="d-flex">
            <div>
              <img class="avatar" src="https://ca.slack-edge.com/T02NE0241-U02FN6UN94J-b614d621e9d8-512">
            </div>
            <div>
              <h3>Amina Makhusseyeva</h3><h3>

            </h3></div>
          </div>
          <h2 class=".font-nunito">Lead Developer</h2>
          <p>I'm a nutritionist who loves to code!</p>
        </div>

        <div class="testimonial">
          <div class="d-flex">
            <div>
              <img class="avatar" src="https://ca.slack-edge.com/T02NE0241-U02G5MC7W1W-b010db31c64c-512">
            </div>
            <div>
              <h3>Jane-Noela Braimah</h3><h3>
            </h3></div>
          </div>
          <h2 class=".font-nunito">Developer</h2>
          <p>Healthy living and sustainable travel is what I live for!</p>
        </div>

        <div class="testimonial">
          <div class="d-flex">
            <div>
              <img class="avatar" src="https://ca.slack-edge.com/T02NE0241-U02GCB7QFG8-gb259a07f5a4-512">
            </div>
            <div>
              <h3>Fatymah Mohammed</h3><h3>
            </h3></div>
          </div>
          <h2 class=".font-nunito">Developer</h2>
          <p>I'm a personal trainer who loves pineapples, crossfit and yoga!</p>
        </div>
    </div>
  </div>
</div>
