<div id="carouselExampleSlidesOnly" class="carousel slide banner-home" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484980859177-5ac1249fda6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1829&q=80);" class="d-block w-100" alt="First slide">
        <h1 class="d-flex justify-content-center align-items-center">VEGGIELITE</h1>
        <p class="d-flex justify-content-center align-items-center">Convenient and seamless grocery shopping experience!</p>
          <div class="d-flex justify-content-center align-items-center">
            <h2> <%= link_to "SHOP NOW", products_path, class: 'btn btn-warning btn-lg' %> </h2>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1620706857370-e1b9770e8bb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1364&q=80);" class="d-block w-100" alt="Second slide">
        <h1 class="d-flex justify-content-center align-items-center">VEGGIELITE</h1>
        <p class="d-flex justify-content-center align-items-center">Convenient and seamless grocery shopping experience!</p>
          <div class="d-flex justify-content-center align-items-center">
            <h2> <%= link_to "SHOP NOW", products_path, class: 'btn btn-warning btn-lg' %> </h2>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610415946035-bad6fc9f5b8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3687&q=80);" class="d-block w-100" alt="Third slide">
        <h1 class="d-flex justify-content-center align-items-center">VEGGIELITE</h1>
        <p class="d-flex justify-content-center align-items-center">Convenient and seamless grocery shopping experience!</p>
          <div class="d-flex justify-content-center align-items-center">
            <h2> <%= link_to "SHOP NOW", products_path, class: 'btn btn-warning btn-lg' %> </h2>
          </div>
      </div>
    </div>
  </div>
</div>
