<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484980859177-5ac1249fda6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1829&q=80);">
  <h1>VEGGIELITE</h1>
  <p>Convenient and seamless grocery shopping experience!</p>
    <div class="d-flex justify-content-center">
        <h2> <%= link_to "Shop now", products_path, class: 'btn btn-warning btn-lg' %> </h2>
    </div>
</div>
