<div class="container">
  <div class="row py-4">
    <% @order.products.each do |product| %>
      <div class="col">
        <h1>Checkout summary</h1>
        <p>Purchase of <strong><%= product.name %></strong> for
          <strong><%= humanized_money_with_symbol product.price %></strong>
          <%= render partial: 'cart_info', locals: { product_id: product.id, cart: @cart } %>
        </p>

      </div>


    <% end %>

  </div>
</div>
