.icons{
  color: green;

}

.center-text{
  text-align: center;
}

.text-green a{
  color: green !important;
}

.footer {
  background: #F4F4F4;
  // display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}
.footer-links {
  // display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.footer .fa-instagram {
  color: red;
}
.footer .fa-facebook {
  color: darkblue;
}
.footer .fa-twitter {
  color: #00acee;
}


div.footer .secondrow .inside-footer {
   padding-top: 34px;
    padding-bottom: 18px;
    margin-right: 0px;
    margin-left: 0px;
}

div.footer .secondrow .inside-footer>div {
    max-width: 1366px;
    margin: auto !important;
}

div.footer .secondrow .leftcolumn {
    display: flex;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

div.footer .secondrow .leftcolumn svg {
    width: 140 px;
    margin-top: -5px;
    margin-right: 10px;
}
