
<div data-controller="cart" data-cart-target="links">
  <div class="quantity d-flex">
    <%# if cart.include?(product_id) %>
     <div class="minus"> <%= link_to '-', remove_from_cart_product_path(product_id), method: :delete, data: { action: 'click->cart#removeProduct', cart_target: "remove" }, class: 'cart-minus' %> </div>
    <%# else %>
      <div class="cart-number">0</div>
      <div class="plus"><%= link_to '+', add_to_cart_product_path(product_id), method: :post, data: { action: 'click->cart#addProduct', cart_target: "add" }, class: 'cart-plus' %> </div>
    <%# end %>

  </div>
</div>
